#box{
    width: 100%;
    height: 50rem;
    background: #ab7aad;
}
#theme{
    width: 100%;
    height: 7.6rem;
    background: #F8F8F8;
    top:-2.5rem;
}

#theme > video{
    width: 100%
}

img{
    width: 100%;


}



.pub_abs{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin:auto;
}

.pub_rel{
    position: relative;
}


.pub_fix{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}