#box{
    width: 100%;
    height: 50rem;
    background: #F8F8F8;
}
header{
    width: 100%;
    height: 1.2rem;
    background: rgb(253,253,253);
}

header > div{
    /*background-color: #ab7aad;*/
    width: 80%;
    height: 1.2rem;
}

.log{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    /*background-color: pink;*/
    line-height: 1.2rem;
    z-index: 99999;
    text-align: left;
    font-size: 0.3rem;

}

.log > a{
    color:#434344;
    /*font-weight: bold;*/
}

header > div > ul{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    /*background-color: #F8F8F8;*/
    text-align: right;
    line-height: 1.2rem;
    z-index: 99998;
}

header > div >ul > li{
    display: inline-block;
    /*background-color: #47D3E5;*/
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.16rem;
    color:#999999;
}

header > div >ul > li > a{
    font-size: 0.16rem;
    color:#999999;
}
















.pub_abs{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin:auto;
}

.pub_rel{
    position: relative;
}


.pub_fix{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}