.backend-section{
    position: relative;
}
.backend-wrapper{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    width: 80%;
    height: 715px;
    /*background: #47D3E5;*/
}

.backend-content-list{
    width: 68%;
    height: 715px;
    /*background: #ab7aad;*/
    float:left;
}

.backend-content-list ul{
    width: 98%;
    height: 700px;
    /*background: #db8992;*/
    margin-top: 8px;
    overflow: hidden;
}

.backend-content-list ul li{
    width: 100%;
    height: 140px;
    border-bottom: 1px solid rgb(238,238,238);
    margin-bottom: 38px;
}

.backend-content-list ul li a{
    display: inline-block;
    width: 70%;
    height: 40px;
    /*background: blue;*/
    line-height: 40px;
    float: left;
    color:#000000;
    font-size: 25px;
    font-family: Georgia,Times New Roman,Times,Songti SC,serif;
    border-bottom:1px solid #FFFFFF;
}

.backend-content-list ul li a:hover{
    border-bottom:1px solid black;
}

.backend-content-list ul li .content{
    width: 70%;
    height: 60px;
    /*background: cornsilk;*/
    float:left;
    text-overflow:ellipsis;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    font-family: Georgia,Times New Roman,Times,Songti SC,serif;
    font-size: 18px;
    color:#999;
    margin-top: 10px;
    line-height: 30px;
}

.backend-content-list ul li .date{
    width: 70%;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: right;
    color:#999;
    font-size: 20px;
    font-family: Georgia,Times New Roman,Times,Songti SC,serif;
}

.backend-content-list ul li .img{
    width: 28%;
    height: 140px;
    /*background: cyan;*/
    float: right;
    margin-top:-110px;
}
.backend-content-list ul li .img img{
    width: 100%;
    height: 140px;
}



.backend-navigation{
    width: 30%;
    height: 715px;
    float: right;
}
.backend-navigation .date-box{
    width: 100%;
    height: 200px;
    background: #6ba78c;
    margin-bottom: 5px;
}
.backend-navigation .link-list{
    width: 100%;
    height: 400px;
    /*background: #db8992;*/
    margin-bottom: 5px;
}
.backend-navigation .link-list li{
    margin: 0 0 20px 20px;
    text-overflow:ellipsis;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
}
.backend-navigation .link-list li span{
    font-size: 20px;
    color:#000;
}
.backend-navigation .link-list li a{
    font-family: Georgia,Times New Roman,Times,Songti SC,serif;
    font-size: 20px;
    color:black;
}
.backend-navigation .link-more{
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 2%;

}

.link-more-box{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    width: 100%;
    height: 50px;
    background: #eeeeee;
    text-align: center;
    border-radius: 4%;
}

.link-more-box a{
    width: 80px;
    height: 50px;
    font-size: 20px;
    font-family: Georgia,Times New Roman,Times,Songti SC,serif;
}

.link-more-box >a>span:nth-child(1){
    display: inline-block;
    font-size: 25px;
    color:#000;
    margin:15px 0 0 100px;
    float: left;

}

.link-more-box>a>div{
    float: right;
    margin: 5px 127px 0 0;
}

.link-more-box>a>div>span{
    font-size: 40px;
    color:#7794ce;


}