.navigation-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: #897cad;
    z-index: 99999;
}

.navigation-wrapper > ul{

    width: 100%;
    height: 70px;
    background: #1ebdd1;
    line-height: 70px;
}

.navigation-wrapper > ul >li{
    display: inline-block;
}
