#bold-wrapper{
    position: relative;
    width: 100%;
    /*height: 800px;*/
    background: #F9F9F9;
    clear: both;
}

.bold-content{
    position: absolute;
    top:225px;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 80%;
    height: 900px;
    /*background: #7794ce;*/
    clear: both;
}

.bold-content-left {
    position: fixed;
    top: 62px;
    left: 153px;
    right: 0;
    bottom: 0;
    width: 98px;
    height: 900px;
    background: #897cad;
    float: left;
    z-index: 999999;
}

.bold-content-middle{
    position: absolute;
    top:400px;
    left:110px;
    right:0;
    bottom:0;
    width: 62%;
    height: 1900px;
    /*background: #eeeeee;*/
    float:left;
    padding: 20px;
    box-sizing: border-box;
}
.bold-content-right{
    position: fixed;
    top: 62px;
    left: 1025px;
    right: 0;
    bottom: 0;
    width: 22%;
    /*height: 900px;*/
    background: #1ebdd1;
}

h1{
    text-align: center;
}


